{% extends 'layout.html.twig' %}

{% block content %}

	{% if photos is defined %}
		<div class="container text-center mt-3">
			<div class="col-md-12">
				<div class="row row-cols-lg-5 row-cols-md-3 row-cols-2 g-0">
					{% for photo in photos %}
						<div class="col">
							<div class="img-container">
								<a href="#" data-photo-id="{{photo.photo_id}}" data-photo-url="{{photo.photo_link}}" data-photo-prompt="{{photo.photo_prompt}}" data-photo-title="{{photo.photo_title}}" data-photo-description="{{photo.photo_description}}"><img src="{{photo.photo_link }}" alt="" class="img-fluid img-fit pop-up-image"></a>

								<div class="img-title">{{photo.photo_title}}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="popup-container">
			<div id="popup-content">
				<img id="popup-image" src="" alt="">
				<div id="popup-info">
				<ul>
					<li class="poptitle">Title :<p id="popup-title"></p></li>
					<li>Prompt :<li>
					<li><p id="popup-prompt"></p><li>
					<li>Description :<li>
					<li><p id="popup-description"></p><li>
					</ul>
				</div>
			</div>
		</div>
	{% else %}
		<li>Nothing to display</li>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script src="assets/js/jsindex.js"></script>
{% endblock %}
